@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    background: url(test.jpg) center center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
  }
  
  section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(5px);
  }
  
  section .card {
    position: relative;
    width: 360px;
    height: 380px;
    background: url(test.jpg);
    background-size: cover;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.180);
    border: 1px solid #ffffff1a;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
    z-index: 100px;
    transition: 0.3s;
  }
  
  section .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(test.jpg) center center/cover no-repeat;
    filter: blur(10px);
    z-index: -1;
    background-size: 50%;
  }

@media screen and (max-width: 480px) {
    section .card {
        width: 90%;
    }
}

  

section .card .content, section .card .imgText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .card .imgText .imgBx{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 0.1px solid #eeeeee7e;
    border-radius: 50%;
    margin-bottom: 15px;
    transition: 0.3s;
}

@media screen and (max-width: 480px) {
    section .card .imgText .imgBx{
        width: 100px;
        height: 100px;
        border: 0.1px solid #eeeeee2e;
    }
}

section .card .imgText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .card .imgText h3{
    font-weight: bolder;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color:#3b4b58;
}

section .card .imgText h3 span{
    font-weight: 400;
    color: #eeeeee;
    font-size: 0.75em;
    transition: 0.3s;
}

@media screen and (max-width: 480px) {
    section .card .imgText h3 span{
        font-size: 0.65em;
    }
}


section .card .sci{
    display: flex;
    margin-top: 15px;
}

section .card .sci li{
    list-style: none;
}

section .card .sci li a{
    position: relative;
    width: 50px;
    height: 50px;
    background: #ffffff00;
    color: #587084;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.3s;
}

@media screen and (max-width: 480px) {
    section .card .sci li a {
        margin-top: 10px;
        position: relative;
        width: 40px;
        height: 40px;
        background: #ffffff;
        color: #3b4b58;
    }
}

section .card .sci li a:hover{
    color: #fff;
}

section .card .sci li a .fa{
    position: relative;
    z-index: 1000;
}

section .card .sci li a:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3b4b58;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s;
    color: #fff;
}

section .card .sci li a:hover:before{
    transform: scale(1);
}


